
        *{

background-color: rgb(219, 220, 201);

}

        html{

color: black;


}

        body {

            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.822);
        }
 
        header {

            text-align: center;
            background-color: rgba(0, 255, 13, 0.177);
        }
 
        header img{ 
            width: 100px;
            height: auto;
            border-radius: 10px;
        }

        a{
            text-decoration: none;
        }

        a:hover{

        text-decoration: underline;
        }

        .logo{
            border-radius: 10px;
            width: 50vw;
            height: auto;
        }

        .content h2{
            font-size: 1.6rem;
            color: rgba(21, 255, 0, 0.53);
            margin: 20px 30px 20px 30px;

        }

        .btn{

            padding: 20px;
            border-radius: 8px;

        }

        .btn-enviar{
            background: rgba(0, 255, 13, 0.177);
            color: rgb(0, 0, 0);
        }
        .btn-enviar:hover{

            filter: brightness(1.5);
        }
        /*
        TABLA DE TARIFAS
        */

        .tablas-tarifas{
            width: 100%;
            border: 2px solid #000000;
            border-radius: 8px;
            background: #fff;
            overflow: hidden;

        }
        .tablas-tarifas thead th {
            background-color: rgb(0, 255, 13, 0.177);
            color: #000000;
            padding: 10px;
            border-bottom: 4px solid #333;
        }
       .tablas-tarifas td{
        border: 1px solid #333;
        padding: 15px;
        vertical-align: top;
        text-align: center;
       }
       /*
       FORMULARIO CONTACTO
       */
       .contacto h2{
        margin-top: 10px;
        margin-bottom: 6px;
       }
       .contacto p{
        margin-bottom: 8px;
       }
       .form{
        background: #fff;
        border: 1px solid #333;
        border-radius: 10px;
        padding: 16px;
       }
       .campo {
        margin-bottom: 12px;
       }