 body {

            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.822);
        }
 header {

            text-align: center;
            background-color: azure;
        }
 header img{ 
            width: 100px;
            height: auto;
            border-radius: 10px;
        }

    