html {
    color: rgb(46, 44, 44);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(253, 249, 246);
    margin: 0;

}

.bodiest {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(246, 244, 241);
    margin: 0;

}

main {
    max-width: 1100px;
    margin: 20px auto;
    padding: 16px;

}

.content {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    margin-right: 2%;
}

header {
    color: rgb(46, 44, 44);
    text-align: center;
    padding: 24px 16px;
}

header h1 {
    margin: 0 0 8px 0;
    font-size: 3rem;
    letter-spacing: 3px;
}

header img {
    background-color: rgb(246, 244, 241);
    border-radius: 10px;
    margin-top: 16px;
    width: max-content;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

header .img-wrapper {
    background-color: rgb(246, 244, 241);
    padding: 20px 0;
}

a {
    text-decoration: none;
    color: rgb(46, 44, 44);
}

a:hover {
    text-decoration: underline;
    color: rgb(46, 44, 44);
}

.logo {
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: 2px solid;
}

.producto {
    width: 70%;
    height: auto;
    border-radius: 20px;
    border: 2.3px solid;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
@media (min-width: 768px){
  .productos {
    flex-direction: row; /* En fila */
  }

  .producto {
    flex: 1; /* Todos del mismo ancho */
  }}
.cualidades{
  width: 100%;
  border: 2px solid rgb(46, 44, 44);
  border-radius: 12px;
  background: local;
  overflow: hidden;
  border-collapse: collapse;
  margin: 16px 0;
  margin-top: 40px;
  text-align: center;
}
.cualidades thead th{
    background: local;
    color: rgb(46, 44, 44);
    padding: 10px;
    border-bottom: 2px solid rgb(46, 44, 44);
}
.cualidades td{
    border: 1px solid rgb(46, 44, 44);
  padding: 10px;
  vertical-align: auto;
}
h2 {
  font-size: 1.6rem;
  color: rgb(46, 44, 44);
  margin: 24px 0 16px;
}
p{
    margin-top: 10px;
}
.contacto h2{
    margin-top: 15px;
    margin-bottom: 8px;
}
.contacto p{
    margin-bottom: 10px;
}
.form{
    background: local;
    border: 3px solid;
    border-radius: 15px;
    padding: 16px;
    max-width: 500px;
    margin: 0 auto 10px;
}
.campo{
    display: block;
    margin-bottom: 10px;
}
.campo > span{
display: inline-block;
margin-bottom: 6px;
font-weight: 600;
}
input[type="email"],
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(46, 44, 44);
  border-radius: 12px;
  outline: none;
  box-sizing: border-box;
  background-color: rgb(253, 249, 246);
}
input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
  border-color: rgb(46, 44, 44);
  box-shadow: 0 0 0 2px rgb(46, 44, 44);
}
.btn{
    margin-top: 12px;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
.btn-enviar{
    background:rgb(253, 249, 246);
    color: rgb(46, 44, 44);
    transition: all 1s ease 
}
.btn-borrar{
    background-color: rgba(168, 14, 14, 0.61);
    color: rgb(253, 249, 246);
    transition: all 2s ease;
}
.btn-enviar:hover{
  filter: brightness(2);
  transform: translateY(-8px);
}
.btn-borrar:hover {
  filter: brightness(1.1);
  transform: translateY(-8px);
}
.form .acciones{
    margin-top: 10px;
}
.form .acciones .btn{
    margin-right: 10px;
}
.site-footer{
    margin-top: 12px;
    padding: 20px 14px;
    border-top: 1px solid rgb(46, 44, 44);
    text-align: center;
}