html{
    color: rgb(46, 44, 44);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    margin: 0;
    
}
main{
    max-width: 1100px;
    margin: 20px auto;
    padding: 16px;

}
